body {
    font-family:Arial;
}

.generic {
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
}
.ok, .ko {
    margin:0 2px;
}
.ok {
    color:green;
}
.ko {
    color:red;
    border:1px solid #ccc;
    padding:2px;
}
